[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "Cellar/shell-color-pallet"]
	path = Cellar/shell-color-pallet
	url = https://github.com/yonchu/shell-color-pallet.git
[submodule "Cellar/ranking-shell-history"]
	path = Cellar/ranking-shell-history
	url = https://github.com/yonchu/ranking-shell-history.git
[submodule "Cellar/dircolors-solarized"]
	path = Cellar/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "Cellar/git-edit"]
	path = Cellar/git-edit
	url = https://github.com/yonchu/git-edit.git
[submodule "Cellar/used-mem"]
	path = Cellar/used-mem
	url = git://github.com/yonchu/used-mem.git
[submodule "Cellar/git-check"]
	path = Cellar/git-check
	url = git://github.com/yonchu/git-check.git
[submodule "Cellar/git-now"]
	path = Cellar/git-now
	url = git://github.com/iwata/git-now.git
[submodule "Cellar/pathf"]
	path = Cellar/pathf
	url = git://github.com/pasberth/pathf.git
[submodule ".zsh/plugins/cdd"]
	path = .zsh/plugins/cdd
	url = git://github.com/m4i/cdd.git
[submodule ".zsh/plugins/promptway"]
	path = .zsh/plugins/promptway
	url = git://github.com/pasberth/promptway.git
[submodule ".zsh/plugins/slipd"]
	path = .zsh/plugins/slipd
	url = git://github.com/pasberth/slipd.git
[submodule ".zsh/plugins/z"]
	path = .zsh/plugins/z
	url = git://github.com/knu/z.git
[submodule ".zsh/plugins/zaw"]
	path = .zsh/plugins/zaw
	url = git://github.com/nakamuray/zaw.git
[submodule ".zsh/plugins/zaw-git-directories"]
	path = .zsh/plugins/zaw-git-directories
	url = git://github.com/syohex/zaw-git-directories.git
[submodule ".zsh/plugins/zaw-src-git-log"]
	path = .zsh/plugins/zaw-src-git-log
	url = git://github.com/yonchu/zaw-src-git-log.git
[submodule ".zsh/plugins/zaw-src-git-show-branch"]
	path = .zsh/plugins/zaw-src-git-show-branch
	url = git://github.com/yonchu/zaw-src-git-show-branch.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/zsh-vcs-prompt"]
	path = .zsh/plugins/zsh-vcs-prompt
	url = git://github.com/yonchu/zsh-vcs-prompt.git
[submodule ".zsh/completions/zsh-completions"]
	path = .zsh/completions/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
