[submodule ".zsh/functions/Completion/zsh-completions"]
	path = .zsh/functions/Completion/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/yonchu/zsh-syntax-highlighting.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule ".zsh/z"]
	path = .zsh/z
	url = git://github.com/rupa/z.git
[submodule ".tmux/tmux-powerline-wrapper"]
	path = .tmux/tmux-powerline-wrapper
	url = https://github.com/yonchu/tmux-powerline-wrapper.git
[submodule ".zsh/zsh-vcs-prompt"]
	path = .zsh/zsh-vcs-prompt
	url = https://github.com/yonchu/zsh-vcs-prompt.git
[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh/dircolors-solarized"]
	path = .zsh/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".zsh/git-edit"]
	path = .zsh/git-edit
	url = https://github.com/yonchu/git-edit.git
[submodule ".zsh/cdd"]
	path = .zsh/cdd
	url = git://github.com/m4i/cdd.git
