# Vundle
/.vim/bundle/*
!/.vim/bundle/.gitignore

/.vim/.netrwhist

# subversion
/.subversion/auth

# zsh
/.zsh/.zsh_history
/.zsh/.zcompdump
/.zsh/.chpwd-recent-dirs
/.zsh/.zcompcache
*.zwc

# .config
/.config/pudb/saved-breakpoints
/.config/configstore/insight-yo.yml
/.config/configstore/update-notifier-yo.yml
/.config/gtk-2.0/gtkfilechooser.ini
/.config/configstore

# hub
/.config/hub

# ipython
/.ipython/profile_default/db
/.ipython/profile_default/history.sqlite
/.ipython/profile_default/log
/.ipython/profile_default/pid
/.ipython/profile_default/security
/.ipython/profile_default/static/custom/custom.css
/.ipython/profile_default/static/custom/custom.js

# tmux
/.tmux/resurrect

# atom
/.atom/.apm
/.atom/.git-history
/.atom/.node-gyp
/.atom/blob-store
/.atom/compile-cache
/.atom/packages
/.atom/storage
/.atom/.gitignore
/.atom/projects.cson
