# Vundle管理ディレクトリ
/.vim/bundle/*
!/.vim/bundle/.gitignore

/.vim/.netrwhist

# subversion
/.subversion/auth

# zsh
/.zsh/.zsh_history
/.zsh/.zcompdump
/.zsh/.chpwd-recent-dirs
/.zsh/.zcompcache
*.zwc

# pudb
/.config/pudb/saved-breakpoints
