# ******************************************************************************
#
# .inputrc (readline)
#
# ******************************************************************************

# Key bind mode.(vi/vi-insert/emacs)
set editing-mode emacs
# Bell.(autible/none/visible)
set bell-style visible
# Scroll.
set horizontal-scroll-mode off

# Completion.
set completion-ignore-case on
# Expand ~.
set expand-tilde off

# Japanese.
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

# Key bind.
"\C-p": history-search-backward
"\C-n": history-search-forward

# Enable Home/End.
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# MySQL.
$if mysql
    "\C-xd": "show databases;"
    "\C-xt": "show tables;"
    "\C-xu": "select user,host,password from mysql.user order by user,host;"
    "\C-xb": "select user,host,db       from mysql.db   order by user,host;"
    "\C-xc": "show create table TN\\G"
$endif
