/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

atom-text-editor::shadow {
  // The cursor line important to use rgba for opacity, also requires !important
  // to override any theme.
  .line.highlight-line {
    background: rgba(100, 100, 100, 0.3) !important;
  }
 .selection .region {
    background: rgba(200, 200, 200, 0.2) !important;
  }
  .wrap-guide {
    width: .5em;
    background: rgba(200, 200, 200, 0.1);
  }
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}

// vim-mode.
atom-text-editor.vim-mode {
  &.insert-mode.is-focused::shadow {
    .cursor-line {
      background: rgba(100,50,255, 0.9);
    }
  }
  &.visual-mode.is-focused::shadow {
    .cursor-line {
      background: rgba(0,100,100, 0.9);
    }
  }
}

// minimap.
.minimap .cursor-line {
  background: rgba(0,0,255, 1.0);
}

// git-log.
.git-log {
  font-size: 1.0em !important;
}
